
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>Your Name Here</title>
        <meta property="og:title" content="Your Name's Links" />
        <meta property="og:site_name" content="yourdomain.com" />
        <meta property="og:description" content="A list of Your Name's most important links." />
        <link rel="stylesheet" href="css/style.css">
        <meta name="theme-color" content="var(--bgColor)">
    </head>
    <body>
            <!--Page Content Below-->
        <img id="userPhoto" class="animated rubberBand fast" src="images/profile-picture.webp" alt="Your Name's Photo">
        <h1 class="animated jello">Your Name</h1>
        <a href="https://www.instagram.com/" id="userName" class="animated fadeIn delay-1s fast">Instagram: @yourname</a>
        <div id="links" class="animated fadeInLeft delay-1s">
            <a class="link" href="https://domain.com/" target="_blank">First Link</a>
            <a class="link" href="https://domain.com/" target="_blank">Second Link</a>
            <a class="link" href="https://domain.com/" target="_blank">Third Link</a>
            <a class="link" href="https://domain.com/" target="_blank">Fourth Link</a>
            <a class="link" href="https://domain.com/" target="_blank">Fifth Link</a>
        </div>
        
        <a href="mailto:you@email.com" class="animated fadeIn delay-3s slow" id="userName">Email Me</a>
            <!--Optional Attribution Repo Link-->
        <a class="atrib" href="https://github.com/mackenly/quickbiolinks">Built With QuickBioLinks ❤️</a>
    </body>
</html>